@import '_bootstrap';

.debug {
  font-size: .7em;
}

.output {
  border: 1px solid #e3e3e3;
  padding: 10px;
}

.debug-output {
  margin-top: 30px;
}

.tree-controls {
  float: right;
  i {
    color: #444;
  }
}


.tree {
  ul {
    margin-left: 5px;
    padding-left: 7px;
    border: solid #e9ecef;
    border-width: 0 0 0 1px;
  }
  li {
    margin-left: 5px;
    padding-left: 7px;
    list-style: none;
    line-height: 1.8em;
  }

  li.is-leaf {
    padding-bottom: 5px;
  }

  li i {
    position: relative;
    top: 1px;
    margin-right: 2px;
  }

  li.selected {
    font-weight: bold;
    background-color: #f8f9fa;
  }
  
}


.render .card-body {
  min-height: 200px;
}

.btn-back {
  position: absolute;
  top: 5px;
  left: 5px;
}

.btn-forward {
  position: absolute;
  top: 5px;
  right: 5px;
}

/**
 * Example pages index
 */

.example-pages {
  .section {
    margin: 0 0 10px;
  }
}